$mainColor: #02a7f0;
$fontColor1: #000;
$fontColor2: #3f3f3f;
$fontColor3: #939fa5;
$fontColor4: #696969;
$fontColor5: #383838;
$fontColor6: #656565;
$fontColor7: #31adff;
$fontColor8: #fe0000;
$fontColor9: #606060;
$fontColor10: #bababa;
$fontColor11: #ffae00;
$fontColor12: #DCDFE6;
$fontColor13: #ccd0d4;

$bgColor1: #ebeff2;
$bgColor2: #b4b4b4;
$bgColor3: #dee2e5;
$bgColor4: #8c8c8c;
$bgColor5: #3bcaff;
$bgColor6: #cdcdcd;
$bgColor7: #c6f0ff;
$bgColor8: #3bbcff;
$bgColor9: #3ba5ff;
$bgColor10: #f1f1f1;
$bgColor11: #3b8eff;
$bgColor12: #cfcfcf;
$bgColor13: #20cbff;
$bgColor14: #aaaaaa;
$bgColor15: #adadad;
$bgColor16: #c7c7c7;
$bgColor17: #409EFF;

$bgGradient1: linear-gradient(to right, #3a9cff, #566eff);
$bgGradient2: linear-gradient(to right, #49f1e5, #20b0fc);